# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Packaging / build artifacts
*.egg-info/
build/
dist/

# Test / tooling caches
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Environment & secrets
.env
token.json
credentials.json

# OS files
.DS_Store
invoice-file-filter/logs/invoice-file-filter.log
nav-szamla/logs/nav-szamla.log
