DB_URL=jdbc:postgresql://localhost:5432/invoice
DB_USER=invoice
DB_PWD=invoice
NAV_INVOICE_URL=http://localhost:8002
INVOICE_FILE_FILTER_URL=http://localhost:8001
WISE_URL=http://localhost:8003
SYNC_TIMEOUT=300
API_HOST=0.0.0.0
API_PORT=8004
LOG_LEVEL=INFO
